.banner {
  color: white;
  height: calc(100vh - 70px);
  background-size: cover !important;
  background-position: center;
  opacity: 0.4;
}
.banner-banner {
  position: absolute;
  top: 12.5vh;
  left: 4.4vw;
  width: 90vw;
  height: 80vh;
  background-size: cover !important;
  background-position: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.40), 0 10px 10px rgba(0,0,0,0.40);
  border-radius: 4px;

}
#title {
  position: absolute;
  left: 12vh;
  bottom: 26vh;
}
nom {
  font-size: 16vh;
  font-family: 'Lobster', cursive;
  color: white;
  opacity: 0.9;
  text-shadow: 0 14px 28px rgba(0,0,0,0.40), 0 10px 10px rgba(0,0,0,0.40);
}
#accroche {
  position: absolute;
  left: 8vh;
  bottom: 18vh;
}
accroche {
  font-size: 8vh;
  font-family: 'Lobster', cursive;
  color: white;
  opacity: 0.9;
  text-shadow: 0 14px 28px rgba(0,0,0,0.40), 0 10px 10px rgba(0,0,0,0.40);
}
.links {
  position: absolute;
  bottom: 3vh;
  right: 3vw;
}
.card-banner {
  position: absolute;
  bottom: 10vh;
  right: 20vw;
  width: 15vw;
  height: 40vh;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  font-family: 'Roboto', sans-serif;
}
.banner-banner a {
  color: white;
  font-size: 6vh;
  margin-left: 1vw;
  text-shadow: 0 14px 28px rgba(0,0,0,0.40), 0 10px 10px rgba(0,0,0,0.40);
}
.banner-banner a:hover {
  text-decoration: none;
  color: #6C5D5B;
}
